# Dependencies
node_modules/

# Build output
dist/
out/

# Electron
*.log
.DS_Store

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini

# Cache
*.cache
.npm
.eslintcache